
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

        body{
            background-color: rgb(31, 31, 31);
        }

       *{
        color:aliceblue;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Montserrat";
        font-weight: 600;  
        text-decoration: none;
       }

       .nav-li, .nav-a, .contact{
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 16px;
       }


    .nav-a {
    display: flex;
    align-items: center;

    }

    .nav__links{
        display: flex;
        justify-content: center;
        align-items: center;
    }

       .nav-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 3% ;
        /*margin-bottom: 20px;*/
       }
       .logo{
        width: 70px;
        height: 70px;
        cursor: pointer;
       }
       .nav__links{
        list-style: none;
       }
       .nav__links .nav-li{
        display: inline-block;
        padding: 0px 20px;
       }

       .nav__links .nav-li .nav-a{
        color: aliceblue;
        transition:  all 0.3 ease 0s;
       }
       .nav__links .nav-li .nav-a:hover{
        color:#00f6ff;
       }

       .nav__links .nav-li .nav-a .cart-svg:hover{
        color:#00f6ff;
        /*THIS IS WHERE THE CART IS SUPPOSED TO TURN BLUE I GUESS*/
       }

       
       .contact{
        padding: 9px 25px;
        background-color: #009196;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition:  all 0.3 ease 0s;
       }
       .contact:hover{
        background-color: #005f62;
       }

.laptops{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.laptops-shadow{
    text-shadow: 0 2px 10px rgb(0, 0, 0);
}

.shadow{
    box-shadow: 0 0 10px rgb(0, 0, 0,0.7);
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 20px;
    flex: 1;

    background-color: rgb(23, 23, 23,0.2);
    border-radius: 25px;

    margin: 2% 5%;
    padding: 30px 10px;

   
}


.pre-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.left-container{
    background-color: rgb(23, 23, 23,0.2);
    border-radius: 25px;

    margin: 2% 1%;
    padding: 30px 30px;
    min-width: 300px;
}



.item{
    display: flex;
    flex-direction: column;
    background-color: rgb(161, 161, 161);
    background-image:url("colored-gr.png");
    background-size: cover; 
    background-position: center;
    border-radius: 15px;
    margin: 5% 20px;
    padding: 10px 10px;
    max-width: 400px;
    max-height: 500px; 
    min-width: 200px;
    min-height: 300px;   
    box-shadow: 0 0 25px rgb(0, 0, 0,1);
    transition:  all 0.3 ease 0s;
}

.item:hover{
    scale: calc(105%);
}

.item-price-logo{
     flex-grow: 1;
}

.item-image{
    background-color: rgba(171, 171, 171, 0);
    border-radius: 15px;
    max-width: 100%;
    height: 224px; 
    box-shadow: 0 0 15px rgba(0, 255, 251, 0.7);
    margin-bottom: 20px;
}

.item-image:hover{
    cursor: pointer;
}

.poster {
    width: 1920px; 
    height: 300px;

    max-width: 100%;
    max-height: 100%;

    min-width: 100%;
    min-height: 100%; 
}

.item-price-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px;

}

.item-title{
    padding: 4px 4px;
}

.item-logo{
    width: 50px;
    height: 50px;
    border-radius: 15%;
}
.item-desc{
    padding: 4px 4px;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}

.divider{
    height: 2px;
    margin: 10px 5px;
    border: none;
    background: linear-gradient(90deg, #000000, #000c5a, #265a92, #ffffff);
}

.buy-me{
    padding: 9px 25px;
    margin: 15px 0px;
    background-color: #009196;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition:  all 0.3 ease 0s;
}

.buy-me:hover{
    background-color: #005f62;
}

.buy-me:active{
    scale: calc(103%);
}

.cart-svg{
    width:20px;
    height: 20px;
}

.filter-svg{
    width:30px;
    height: 40px;
    margin: 0px 20px;
}

.filter{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 5px;
    background-color: rgba(0, 255, 251, 0.1);
    border-radius: 15px;

}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/


.checkbox-group{
    margin-top: 5px;
    margin-bottom: 50px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  margin-top: 5px;
}

/* hide the default checkbox */
.checkbox input {
  display: none;
}

/* custom box */
.checkmark {
  width: 18px;
  height: 18px;
  border: 2px solid #999;
  border-radius: 4px;
  position: relative;
}

/* tick */
.checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


.center{
    display: flex;
    justify-content: center;
}



.filter-btn {
    display: none;
    padding: 12px 20px;
    border-radius: 15px;
    border: none;
    background-color: #009196;
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 auto 20px auto;
}



/*-=-=-=-=-=-=-=-=-=-=-=-=-=FOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOTER=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.footer-container{
    background-color: rgb(26, 26, 26);
}

.footer-row{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}

.footer-bottom{
    background-color: rgb(5, 5, 5);
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

.footer-col ul{
    list-style: none;
}

.footer h4{
    display: flex;
    justify-content: center;
    font-size: 22px;
    position: relative;
}

.footer-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer li{
    margin-bottom: 5px;
}

.footer a:hover{
    color: #009196;
}

footer .logo{
        padding: 10px;
    }
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

@media (max-width: 768px){
    footer .footer-row{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    footer .footer-logo{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    footer .footer-col{
        margin: 30px 0px;
    }
    footer .footer-col ul li{
        display: flex;
        justify-content: center;
    }
    
}

@media (max-width: 768px) {

    .pre-container {
        flex-direction: column;
        align-items: stretch;
    }

    .left-container {
        display: none; /* hide sidebar */
    }

    .filter-btn {
        display: block; /* show button */
    }

    .container {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .pre-container{
        padding: 0px 10px;
    }

    .container {
        grid-template-columns: 1fr;
        margin: 0px 0px;
    }
}

@media (max-width: 768px) {
    .left-container {
         display: none; 

    }
}

@media (max-width: 768px) {
    .nav__links {
        display: flex;
        flex-direction: column;
    }

    .nav-header{
        display: flex;
        justify-content: center;
    }
}

